@import "variables";
@import "media";

:root {
  --root-background: color(var(--brand-black) shade(40%));
  --progress-background: var(--brand-info);
  --handle-background: linear-gradient(to bottom, var(--brand-light) 0, color(var(--brand-light) shade(20%)) 100%);
  --bar-height: 8px;
}

.root {
  display: none;

  @media (--medium) {
    display: flex;
    align-items: center;
    flex: 2;
    margin-left: 10px;
  }
}

.wrap {
  flex: 1;

  &:hover {
    cursor: pointer;
  }
}

.bar {
  position: relative;
  height: var(--bar-height);
  background-color: var(--root-background);
  border-radius: 2px;
  box-shadow:
    inset 0 1px 0 rgba(#000, 0.1),
    inset 0 -1px 1px rgba(#000, 0.1),
    0 1px 0 rgba(#fff, 0.05);
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 2px;
  background: var(--progress-background);
  box-shadow: inset 0 0 1px 0 rgba(#000, 0.8);
}

.handle {
  position: absolute;
  top: -6px;
  right: -10px;
  size: 20px;
  cursor: ew-resize;
  border-radius: 50%;
  background: var(--handle-background);
  border: 1px solid color(var(--brand-light) tint(20%));
  box-shadow:
    0 0 2px rgba(#000, 0.6),
    inset 0 -1px 0 rgba(#000, 0.1);
}
