@import "variables";
@import "media";

:root {
  --background-active: color(var(--brand-black) lightness(12%));
  --background-hover: color(var(--brand-black) lightness(20%));

  --icon-font-size: responsive 1.4rem 1.8rem;
  --icon-text-color: var(--brand-light);

  --label-font-size: responsive 1.2rem 1.3rem;
  --count-font-size: responsive 0.8rem 1rem;

  --text-color: color(var(--brand-light) shade(30%));
  --text-color-hover: var(--brand-light);
}

.root {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out 0s;

  &:hover {
    background-color: var(--background-hover);

    .label {
      color: var(--text-color-hover);
    }
  }
}

.expanded {
  composes: root;
}

.collapsed {
  composes: root;

  @media (--medium) {
    .label { display: none; }
    .count { display: none; }
  }
}

.active {
  background-color: var(--background-active);
}

.icon {
  color: var(--icon-text-color);
  font-size: var(--icon-font-size);
}

.count {
  composes: round from "styles/badges";

  margin-left: 14px;
  font-size: var(--count-font-size);
  background-color: var(--brand-dark);
  color: var(--brand-light);
}

.label {
  flex-grow: 2;
  margin-left: 14px;
  font-size: var(--label-font-size);
  font-weight: bold;
  text-transform: capitalize;
  color: var(--text-color);
}
