@import "variables";

:root {
  --font-size-normal: 0.9em;
  --font-size-count: 0.6em;
  --font-size-icon: 1.2em;

  --background-active: color(var(--brand-black) lightness(12%));
  --background-hover: color(var(--brand-black) lightness(20%));
  --text-color-hover: var(--brand-light);
}

.root {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 20px;
  cursor: pointer;
  transition: background-color .2s ease-in-out 0s;

  &:hover {
    background-color: var(--background-hover);
    color: var(--text-color-hover);
  }
}

.normal {
  composes: root;
}

.active {
  composes: root;
  background-color: var(--background-active);
}

.icon {
  font-size: var(--font-size-icon);
}

.count {
  composes: badge from "styles/badges";
  margin-left: 14px;
  font-size: var(--font-size-count);
  background-color: var(--brand-dark);
  color: var(--brand-light);
}

.label {
  margin-left: 14px;
  font-size: var(--font-size-normal);
}
