@import "variables";
@import "media";

:root {
  --background-active: color(var(--brand-black) lightness(12%));
  --background-hover: color(var(--brand-black) lightness(20%));

  --text-color: color(var(--brand-light) shade(30%)); 
  --text-color-hover: var(--brand-light);
}

.root {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color .2s ease-in-out 0s;

  &:hover {
    background-color: var(--background-hover);

    .label {
      color: var(--text-color-hover);
    }
  }
}

.normal {
  composes: root;
}

.active {
  composes: root;
  background-color: var(--background-active);
}

.icon {
  font-size: responsive 1.4rem 1.8rem;
}

.count {
  composes: badge from "styles/badges";
  margin-left: 14px;
  font-size: responsive 0.8rem 1rem;
  background-color: var(--brand-dark);
  color: var(--brand-light);
}

.label {
  flex-grow: 2;
  margin-left: 14px;
  font-size: responsive 1.2rem 1.4rem;
  font-weight: bold;
  color: var(--text-color);
}
