@import "variables";

:root {
}

.root {
  background-color: var(--brand-primary-pastel);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding: 14px;
}

.avatar {
  size: 64px;
  margin-right: 10px;

  & > span {
    padding: 14px 10px;
    font-size: 4rem;
  }
}

.details {
  composes: vertical from "styles/layout";
  max-width: 60%;
}

.username {
  composes: truncate from "styles/utils";

  margin-bottom: 6px;
  font-size: responsive 1.2rem 1.6rem;
  color: color(var(--text-color) shade(20%));
}

.karma {
  color: var(--brand-danger);
  font-weight: bold;
}
