@import "variables";

:root {
  --opacity: 0.9;
  --opacity-hover: 1;

  --root-background: var(--background);
  --root-text-color: var(--text-color);
}

.root {
  box-sizing: border-box;
  padding: 15px 15px 15px 58px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.2em;
  position: relative;
  margin-top: 15px;
  color: var(--root-text-color);
  background-color: var(--root-background);
  opacity: var(--opacity);
  box-shadow:
    0 2px 1px 0 rgba(#000, 0.1),
    0 2px 1px -2px rgba(#000, 0.3),
    0 1px 4px 0 rgba(#000, 0.12);

  &:hover {
    opacity: var(--opacity-hover);
  }
}

.message {
  color: var(--root-text-color);
}

.title {
  font-size: 1em;
  line-height: 1.2em;
  font-weight: bold;
  margin: 0 0 5px 0;
  color: var(--root-text-color);
}

.info {
  composes: root;
  background-color: var(--brand-info-pastel);
}

.success {
  composes: root;
  background-color: var(--brand-success-pastel);
}

.warning {
  composes: root;
  background-color: var(--brand-warning-pastel);
}

.error {
  composes: root;
  background-color: var(--brand-danger-pastel);
}
