@import "variables";

:root {
  --label-font-size: responsive 1.2rem 1.4rem;
  --label-text-color: var(--text-color);
  --value-font-size: responsive 1.8rem 2.2rem;

  --users-background: var(--brand-success-pastel);
  --users-text-color: var(--brand-success);

  --tracks-background: var(--brand-info-pastel);
  --tracks-text-color: var(--brand-info);
}

.root {
  composes: stats from "styles/layout";

  .label,
  .value {
    display: block;
    margin-bottom: 4px;
  }

  .label {
    font-size: var(--label-font-size);
    color: var(--label-text-color);
  }

  .value {
    font-size: var(--value-font-size);
    font-weight: bold;
  }
}

.item {
  width: 50%;
  padding: 8px;
}

.users {
  composes: item;
  background-color: var(--users-background);
  color: var(--users-text-color);
}

.tracks {
  composes: item;
  background-color: var(--tracks-background);
  color: var(--tracks-text-color);
}
