@import "variables";

:root {
  --root-border-color: color(var(--background) shade(8%));

  --label-font-size: responsive 1.6rem 1.8rem;
  --label-text-color: var(--text-color);
  --value-font-size: responsive 1.8rem 2rem;

  --users-background: var(--background);
  --users-text-color: var(--brand-dark);

  --tracks-background: var(--background);
  --tracks-text-color: var(--brand-dark);
}

.root {
  composes: stats from "styles/layout";

  .label {
    margin-bottom: 4px;
    font-size: var(--label-font-size);
    color: var(--label-text-color);
  }

  .value {
    font-size: var(--value-font-size);
    font-weight: bold;
  }
}

.item {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 8px;
}

.users {
  composes: item;
  background-color: var(--users-background);
  color: var(--users-text-color);
  border-right: 1px solid var(--root-border-color);
}

.tracks {
  composes: item;
  background-color: var(--tracks-background);
  color: var(--tracks-text-color);
}
