@import "variables";
@import "media";

:root {
  --username-font-size: responsive 1.4rem 1.8rem;

  --role-font-size: responsive 1rem 1.4rem;
  --role-text-color: color(var(--text-color) tint(30%));

  --karma-font-size: responsive 1.6rem 2rem;
  --karma-background-color: var(--brand-success);
  --karma-text-color: var(--brand-light);
}

.info {
  lost-row: 1/3;
  lost-flex-container: column;
  align-items: center;
  justify-content: center;

  margin-top: 20px;

  @media (--medium) { lost-column: 1/3; }

  @media (--desktop) { lost-column: 1/4; }
}

.profile {
  text-align: center;
  color: var(--text-color);
}

.avatar {
  margin-bottom: 12px;
  border: 6px solid #fff;
}

.username {
  composes: truncate from "styles/utils";

  font-size: var(--username-font-size);
}

.role {
  font-size: var(--role-font-size);
  color: var(--role-text-color);
}

.karma {
  composes: squared from "styles/badges";

  margin-top: 10px;
  font-size: var(--karma-font-size);
  background-color: var(--karma-background-color);
  color: var(--karma-text-color);
}
