{
  "stage": 0,
  "optional": [
    "runtime",
    "utility.inlineEnvironmentVariables",
    "minification.removeDebugger"
  ],
  "plugins": [
    "typecheck",
    "react-require",
    "babel-root-import"
  ],
  "loose": [
    "es6.classes",
    "es6.properties.computed"
  ],
  "blacklist": ["es6.tailCall"]
}
