{
  "stage": 0,
  "optional": [
    "runtime",
    "utility.inlineEnvironmentVariables",
    "minification.removeDebugger"
  ],
  "plugins": ["typecheck"],
  "loose": ["es6.classes", "es6.properties.computed"],
  "blacklist": ["es6.tailCall"]
}
