{
  "extends": "airbnb",
  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },

  "rules": {
    "comma-dangle": [1, "never"],

    "space-before-function-paren": [2, {
      "anonymous": "always",
      "named": "never"
    }],

    "no-else-return": 0,
    "jsx-quotes": [2, "prefer-single"],

    "react/jsx-no-undef": 0,
    "react/react-in-jsx-scope": 0,

    "no-undef": 2,

    "new-cap": [2, {
      "capIsNewExceptions": ["Immutable"]
    }],
    "no-unused-vars": [2, {
      "args": "after-used",
      "argsIgnorePattern": "^_"
    }],

    "id-length": [2, {
      "min": 2,
      "properties": "never",
      "exceptions": [
        "_",
        "v", "x", "y",
        "i", "j", "k",
        "n",
        "e",
        "s", "a", "d",
        "f"
      ]
    }],
  },
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": [
        "node_modules",
        "src/scripts"
      ]
    }
  },
  "globals": {
    "React": true,
    "Component": true,
    "PropTypes": true,
    "Immutable": true,
    "R": true,

    "settings": true,

    "__TEST__": true,
    "__DEVELOPMENT__": true,
    "__STAGING__": true,
    "__PRODUCTION__": true,

    "__ENVIRONMENT__": true,

    "__CLIENT__": true,
    "__SERVER__": true,

    "__DEVTOOLS__": true
  }
}
