@import "variables";

:root {
  --background: var(--brand-info);
  --logo-size: 24px;
}

.root {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding: 12px;
  height: 6rem;
  background-color: var(--background);

  svg { size: var(--logo-size); }
}

.normal {
  composes: root;

  > .title {
    margin-left: 14px;
    font-size: 2rem;
    font-weight: bold;
  }
}

.slim {
  composes: root;

  > .title {
    display: none;
  }
}
