@import "variables";
@import "media";

.root {
  lost-flex-container: column;

  @media (--medium) { lost-flex-container: row; }
}

.tabs {
  lost-row: 2/3;

  @media (--medium) { lost-column: 2/3; }

  @media (--desktop) { lost-column: 3/4; }
}
