@import "variables";
@import "media";

.root {
  lost-flex-container: column;

  @media (--medium) { lost-flex-container: row; }
}

.info {
  lost-row: 1/4;
  lost-flex-container: column;

  align-items: center;
  justify-content: center;

  margin-top: 20px;

  @media (--medium) { lost-column: 1/4; }
}

.profile {
  text-align: center;
  color: var(--text-color);
}

.avatar {
  margin-bottom: 12px;
  size: 128px;

  & > span {
    padding: 46px 20px;
    font-size: 12rem;
  }
}

.username {
  composes: truncate from "styles/utils";
  font-size: responsive 1.4rem 1.8rem;
}

.role {
  font-size: responsive 1rem 1.4rem;
  color: color(var(--text-color) tint(30%));
}

.karma {
  composes: badge from "styles/badges";
  margin-top: 10px;
  font-size: responsive 2rem 2.4rem;
  background-color: var(--brand-success);
  color: var(--brand-light);
}

.tabs {
  lost-row: 3/4;

  @media (--medium) { lost-column: 3/4; }
}
