@import "variables";
@import "media";

:root {
  --background: color(var(--brand-black) shade(30%));
  --text-color: color(var(--brand-light));
}

.nav {
  background-color: var(--background);
  color: var(--text-color);
  box-shadow:
    0 2px 2px 0 rgba(#000, var(--shadow-key-penumbra-opacity)),
    0 3px 1px -2px rgba(#000, var(--shadow-key-umbra-opacity)),
    0 1px 5px 0 rgba(#000, var(--shadow-ambient-shadow-opacity));

  @media (--medium) { min-height: 100vh; }

  .sticky { width: 100%; }
}

.expanded {
  composes: nav;

  @media (--medium) {
    min-width: var(--navigation-width-expanded);
    width: var(--navigation-width-expanded);

    .sticky {
      min-width: var(--navigation-width-expanded);
      width: var(--navigation-width-expanded);
    }
  }
}

.collapsed {
  composes: nav;

  @media (--medium) {
    min-width: var(--navigation-width-collapsed);
    width: var(--navigation-width-collapsed);

    .sticky {
      min-width: var(--navigation-width-collapsed);
      width: var(--navigation-width-collapsed);
    }
  }
}

.normal {
}

.sticky {
  position: fixed;
  z-index: 999;

  @media (--medium) { top: var(--toolbar-height); }
}
