@import "variables";
@import "media";

:root {
  --background: color(var(--brand-black) shade(30%));
  --text-color: color(var(--brand-light));
}

.nav {
  @media (--medium) {
    min-height: 100vh;
  }

  background-color: var(--background);
  color: var(--text-color);
  box-shadow: 0 2px 2px 0 rgba(#000, var(--shadow-key-penumbra-opacity)),
              0 3px 1px -2px rgba(#000, var(--shadow-key-umbra-opacity)),
              0 1px 5px 0 rgba(#000, var(--shadow-ambient-shadow-opacity));
}

.normal {
  composes: nav;
  @media (--medium) { min-width: 240px; }
}

.slim {
  composes: nav;
  @media (--medium) { width: 60px; }
}
