@import "variables";
@import "media";

.options {
  display: none;

  @media (--medium) {
    display: block;
    margin-left: 20px;
  }
}

.off {
  color: rgba(#000, 0.26);
}

.on {
  color: var(--brand-light);
}
