@import "variables";
@import "media";

:root {
  --root-background: #fff;

  --label-font-size: responsive 1.8rem 2rem;
  --label-text-color: color(var(--text-color) tint(50%));

  --value-font-size: responsive 1rem 1.2rem;
  --value-text-color: color(var(--text-color) shade(20%));
}

.stats {
  composes: stats from "styles/layout";

  margin: 14px 0;
  padding: 8px;
  width: 160px;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: var(--root-background);
  box-shadow: 0 1px 1px rgba(#000, 0.05);

  @media (--large) { flex-direction: row; }

  .label,
  .value {
    display: block;
  }

  .label {
    font-size: var(--label-font-size);
    color: var(--label-text-color);
    margin-bottom: 4px;
  }

  .value {
    font-size: var(--value-font-size);
    font-weight: bold;
    color: var(--value-text-color);
  }
}
