@import "variables";
@import "media";

:root {
  --root-background: var(--background);
}

.root {
  composes: stats from "styles/layout";

  margin: 14px 0;
  padding: 14px;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: (--root-background);
  box-shadow: 0 1px 1px rgba(#000, .05);

  @media (--medium) { flex-direction: column; }
  @media (--large) { flex-direction: row; }

  .label, .value {
    display: block;
    margin-bottom: 4px;
  }

  .value {
    font-size: responsive 1.4rem 1.8rem;
    font-weight: bold;
    color: color(var(--text-color) shade(20%));
  }

  .label {
    font-size: responsive 1.2rem 1.4rem;
    color: color(var(--text-color) tint(20%));
  }
}
