@import "variables";
@import "media";

:root {
  --background: color(var(--brand-black) shade(10%));
}

.root {
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: var(--background);

  .info {
    flex-grow: 2;
    margin-left: 8px;
    color: var(--text-color);
    font-size: 1.2rem;
  }

  .actions {
    margin-left: 10px;
  }
}

.expanded {
  composes: root;
}

.collapsed {
  composes: root;

  @media (--medium) {
    .info,
    .actions {
      display: none;
    }
  }
}

.avatar {
  cursor: pointer;
  background-color: var(--background);
}

.username {
  composes: truncate from "styles/utils";
}

.role {
  color: var(--brand-success);
}
