@import "variables";
@import "media";

.app {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: var(--background);

  @media (--medium) { flex-direction: row; }
}

.content {
  width: 100%;
  padding: 10px;
}
