@import "variables";
@import "media";

.root {
  display: flex;
  flex-direction: column;
  background-color: var(--background);

  @media (--medium) { flex-direction: row; }
}

.main {
  padding: 20px;
}
