@import "variables";
@import "media";

.root {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: var(--background);

  @media (--medium) { flex-direction: row; }
}

.content {
  padding: 10px;
  width: 100vw;
}
