.initial {
  animation-fill-mode: both;
  animation-duration: 0.5s;
}

.initial-down {
  composes: initial;
  animation-name: fade-in-down;
}

.initial-up {
  composes: initial;
  animation-name: fade-in-up;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
