@import "animations/initial";
@import "animations/rotate";

.initial {
  animation-fill-mode: both;
  animation-duration: 0.5s;
}

.initial-down {
  composes: initial;
  animation-name: fade-in-down;
}

.initial-up {
  composes: initial;
  animation-name: fade-in-up;
}

.rotate {
  &:hover {
    animation-duration: 0.5s;
    animation-name: rotate;
  }
}
