@import "media";

.centered {
  align-content: center;
  align-items: center;
  justify-content: center;
}

.full {
  min-width: 100vw;
  min-height: 100vh;
}

.box {
  composes: centered full;
  display: flex;
  flex-flow: column nowrap;
}

.card {
  lost-column: 1/1;
  @media (--medium) { lost-column: 1/2; }
  @media (--large) { lost-column: 1/3; }
  @media (--desktop) { lost-column: 1/4; }
}
