.flex { display: flex; }

.vertical { flex-flow: column nowrap; }

.centered {
  align-content: center;
  align-items: center;
  justify-content: center;
}

.full {
  min-width: 100vw;
  min-height: 100vh;
}

.box { composes: flex vertical centered full; }
