@import "typography.css";

@lost gutter 30px;
@lost cycle auto;
@lost flexbox flex;

html {
  overflow-x: hidden;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  color: #222;
  font-family: "Roboto";
  /* lost-utility: edit; */
}
