@define-mixin flex-center {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

@define-mixin fade-in $direction, $duration {
  animation-name: fade-in-$(direction);
  animation-duration: $duration;
  animation-fill-mode: both;
}
