@import "variables";

:root {
  --link-color: var(--gray);
}

html {
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
}
html, body {
  font-size: var(--font-size);
  lower-font-range: 22.5rem;
  upper-font-range: 85.375rem;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
}

a {
  color: var(--link-color);

  &:hover {
    color: color(var(--link-color) blackness(20%));
  }
}
