@import "variables";

:root {
  --link-color: var(--gray);
}

html {
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  font-size: var(--font-size);
}

body {
  font-family: var(--font-family);
}

a {
  color: var(--link-color);

  &:hover {
    color: color(var(--link-color) blackness(20%));
  }
}
