:root {

  /* fonts */
  --font-family: "Roboto";

  /* 1em = 10px */
  --font-size: 62.5%;
  --font-size-base: 1.8rem;

  /* brand */
  --brand-primary: #545ca6;
  --brand-info: #4cb6cb;
  --brand-success: #1ab667;
  --brand-warning: #fad733;
  --brand-danger: #f05050;
  --brand-black: #232c32;
  --brand-dark: #5a6a7a;
  --brand-light: #e8eff0;
  --brand-inverse: #433599;

  --brand-primary-pastel: #ecf6fb;
  --brand-info-pastel: #ecfcff;
  --brand-success-pastel: #f1ffed;
  --brand-warning-pastel: #fffee6;
  --brand-danger-pastel: #fbedec;

  /* base */
  --background: #f2f4f8;
  --text-color: #788188;
  --text-muted: color(var(--text-color) tint(10%));

  /* links */
  --link-color: color(var(--text-color) shade(15%));
  --link-hover-color: color(var(--text-color) shade(30%));

  /* misc */
  --border-color: #eaeef1;

  /* buttons */
  --button-default-color: var(--text-color);
  --button-default-background: #fff;
  --button-default-border: color(var(--border-color) shade(5%));

  --button-primary-color: #fff;
  --button-primary-background: var(--brand-primary);
  --button-primary-border: var(--button-primary-background);

  --button-success-color: #fff;
  --button-success-background: var(--brand-success);
  --button-success-border: var(--button-success-background);

  --button-info-color: #fff;
  --button-info-background: var(--brand-info);
  --button-info-border: var(--button-info-background);

  --button-warning-color: #fff;
  --button-warning-background: var(--brand-warning);
  --button-warning-border: var(--button-warning-background);

  --button-danger-color: #fff;
  --button-danger-background: var(--brand-danger);
  --button-danger-border: var(--button-danger-background);

  --button-dark-color: #fff;
  --button-dark-background: var(--brand-dark);
  --button-dark-border: var(--button-dark-background);

  /* input */
  --input-border: color(var(--border-color) shade(10%));
  --input-border-focus: var(--brand-primary);

  /* panel */
  --panel-background: #fff;
  --panel-border: var(--border-color);
  --panel-heading-background: #fff;
  --panel-footer-background: #fff;

  --tooltip-background: rgba(#000, 0.9);
  --badge-background: color(var(--brand-light) shade(20%));

  --tooltip-color: var(--brand-dark);
  --tooltip-fallback-color: rgba(#000, 0.9);

  --shadow-key-umbra-opacity: 0.2;
  --shadow-key-penumbra-opacity: 0.14;
  --shadow-ambient-shadow-opacity: 0.12;
}
