@import "variables";

:root {
  --card-background: #fff;
}

.root {
  composes: card from "styles/layout";
  margin-bottom: 10px;
}

.card {
  background-color: var(--card-background);
  overflow: visible;
}
