@import "variables";

:root {
  --root-background: color(var(--background) shade(5%));
  --root-text-color: color(var(--text-color) shade(20%));
  --root-border-color: color(var(--border-color) shade(5%));

  --rating-background: color(var(--brand-success) tint(20%));
}

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid var(--root-border-color);
  background-color: var(--root-background);
  color: var(--root-text-color);
}

.name {
  composes: truncate from "styles/utils";

  max-width: 75%;
  font-size: responsive 1.2rem 1.4rem;
  text-shadow: 1px 1px 2px #fff;
}

.rating {
  composes: squared from "styles/badges";

  background-color: var(--rating-background);
  color: var(--brand-light);
  font-size: responsive 1.2rem 1.4rem;
}
