@import "variables";

:root {
  --root-hover-background-color: color(var(--background) shade(5%));

  --title-font-size: responsive 1.2rem 1.4rem;
  --title-text-color: color(var(--text-color) shade(40%));
  --title-hover-text-color: color(var(--title-text-color) shade(50%));

  --artist-font-size: responsive 1.1rem 1.2rem;
  --artist-text-color: color(var(--text-color) shade(5%));
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 2;
  padding: 4px 6px;
  color: var(--title-text-color);

  &:hover {
    background-color: var(--root-hover-background-color);
    color: var(--title-hover-text-color);
  }
}

.off {
  composes: info;
}

.on {
  composes: info;
  background-color: color(var(--background) shade(10%));
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 10px;
}

.title {
  font-size: var(--title-font-size);
  color: var(--title-text-color);
}

.artist {
  padding-top: 4px;
  font-size: var(--artist-font-size);
  color: var(--artist-text-color);
}
