$background: #00e280;
$foreground: #fff;

.root {
  align-content: center;
  align-items: center;
  background: transparent url("./bg.jpg");
  background-color: $background;
  background-size: cover;
  color: $foreground;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 100vh;
}

.title {
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;

  @media screen and (width >= 768px) and (height >= 680px) { font-size: 2.4em; }
  @media screen and (width >= 1024px) { font-size: 3em; }
}

.desc {
  @media screen and (width >= 768px) and (height >= 680px) { font-size: 1.4em; }
  @media screen and (width >= 1024px) { font-size: 1.6em; }
}

.form {
  width: 300px;

  @media screen and (width >= 768px) and (height >= 680px) { width: 420px; }
  @media screen and (width >= 1024px) { width: 600px; }

  [data-react-toolbox="tooltip"] {
    display: none;

    @media screen and (width >= 1024px) {
      display: block;
    }
  }

  .fields {
    .code {
      & > input {
        border-color: rgba(255, 255, 255, 0.8);
        color: $foreground;
        text-align: center;

        @media screen and (width >= 768px) and (height >= 680px) { font-size: 1.4em; }
        @media screen and (width >= 1024px) { font-size: 1.8em; }
      }

      & > label { color: $foreground; }
      & > input:focus ~ label { color: rgba(255, 255, 255, 0.8); }

      & > span::before,
      & > span::after {
        background-color: $foreground;
      }

      & > span {
        color: $foreground;
      }
    }
  }

  &[data-valid="true"] {
    .social {
      opacity: 1;
      transition: opacity 0.2s linear;
      visibility: visible;
    }
  }

  .social {
    opacity: 0;
    text-align: center;
    transition: visibility 0s 0.2s, opacity 0.2s linear;
    visibility: hidden;

    & > a,
    & > button { margin: 0 2px; }

    .hint {
      margin-bottom: 8px;
      font-size: 1.2em;
    }

    .vkontakte { background-color: vkontakte-color; }
    .soundcloud { background-color: soundcloud-color; }
    .facebook { background-color: facebook-color; }
    .twitter { background-color: twitter-color; }
    .google { background-color: google-color; }
  }
}
