@import "variables";
@import "media";

:root {
}

.button {
  min-width: 5rem;
  min-height: 6rem;
}

.toggle {
  composes: button;
  background-color: var(--background);
}

.search {
  composes: button;
  background-color: #fff;
}

.input {
  min-width: 28rem;
}

.root {
  display: none;
  height: 6rem;
  background-color: #fff;
  box-shadow:
    0 1px 1px rgba(#000, 0.3),
    inset 0 1px 0 rgba(#fff, 0.08);

  @media (--medium) {
    display: flex;
    align-items: center;
  }
}

.button {
  color: var(--text-color);

  &:hover {
    background-color: #fff;
    color: var(--brand-dark);
  }
}

.search {
  composes: button;
}

.toggle {
  composes: button;
}
