@import "variables";

:root {
  --background-normal: color(var(--brand-black) shade(30%));
  --background-primary: var(--brand-black);
  --font-size-title: 0.8em;
}

.menu {
  list-style: none;
}

.normal {
  composes: menu;
  background-color: var(--background-normal);
}

.primary {
  composes: menu;
  background-color: var(--background-primary);
}

.title {
  padding: 12px;
  font-size: var(--font-size-title);
  color: var(--text-muted);
}

.list {
}

.item {
  display: block;
}
