@import "variables";
@import "media";

.root {
  display: none;

  @media (--medium) {
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 0.7em;
    color: var(--text-color);
  }
}
