@import "variables";

:root {
  --background: var(--brand-info);
  --logo-size: 24px;
}

.root {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding: 12px;
  height: 60px;
  background-color: var(--background);

  svg {
    width: 34px;
    height: 28.8px;
  }
}

.normal {
  width: 200px;
  composes: root;

  .title {
    color: var(--brand-light);
    margin-left: 14px;
    font-size: 2rem;
    font-weight: bold;
  }
}

.slim {
  composes: root;
  width: 60px;

  .title {
    display: none;
  }
}
