@import "variables";

:root {
  --background: var(--brand-info);
  --logo-size: 24px;
}

.root {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding: 12px;
  height: var(--navigation-width-collapsed);
  background-color: var(--background);

  svg {
    width: 34px;
    height: 28.8px;
  }
}

.expanded {
  composes: root;
  width: var(--navigation-width-expanded);

  .title {
    color: var(--brand-light);
    margin-left: 14px;
    font-size: 2rem;
    font-weight: bold;
  }
}

.collapsed {
  composes: root;
  width: var(--navigation-width-collapsed);

  .title {
    display: none;
  }
}
