@import "variables";

:root {
}

.root {
  composes: vertical from "styles/layout";

  padding: 8px;
  font-size: 1.6rem;
  background-color: var(--brand-info);
  color: var(--brand-light);
}

.appear {
  opacity: 0.01;
}

.appearActive {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
