@import "variables";

:root {
  --root-link-color: var(--brand-light);
}

.root {
  composes: vertical from "styles/layout";

  padding: 8px;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: var(--brand-info);
  color: var(--root-link-color);

  &:hover {
    color: color(var(--root-link-color) tint(20%));
  }
}

.appear {
  opacity: 0.01;
}

.appearActive {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
