@import "variables";
@import "media";

:root {
  --root-link-color: var(--brand-light);
  --title-font-size: responsive 1.2rem 1.4rem;
  --artist-font-size: responsive 1rem 1.2rem;
}

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 6px;
  min-width: var(--navigation-width-collapsed);
  max-width: var(--navigation-width-expanded);
}

.link {
  composes: truncate from "styles/utils";
  color: var(--root-link-color);
  &:hover {
    color: color(var(--root-link-color) shade(20%));
  }
}

.title {
  composes: link;
  font-size: var(--title-font-size);
  font-weight: bold;
}

.artist {
  composes: link;
  font-size: var(--artist-font-size);
}
