@import "variables";

:root {
  --root-background: color(var(--background) shade(5%));
  --root-text-color: color(var(--text-color) shade(30%));
  --root-border-color: color(var(--root-background) shade(10%));

  --button-hover-background: color(var(--root-background) shade(10%));
  --button-hover-text-color: color(var(--root-text-color) shade(10%));
}

.root {
  padding: 0;
  border-top: 1px solid var(--root-border-color);

  & > [data-react-toolbox="button"] {
    margin: 0;
    width: 100%;
    height: 54px;
    border-radius: 0;
    font-size: 1.8rem;

    background-color: var(--root-background);
    color: var(--root-text-color);
    &:hover {
      color: var(--button-hover-text-color);
      background-color: var(--button-hover-background);
    }
  }
  
  .view {
  }

  .favorite {
  }

  .listen {
  }
  
  .enter {
  }

  .exit {
  }
}
