@import "variables";

:root {
  --root-background: #fff;
  --root-text-color: color(var(--text-color) tint(50%));
  --button-hover-background: color(var(--root-background) shade(10%));
  --button-hover-text-color: color(var(--text-color) tint(20%));
}

.root {
  padding: 0;
  border-top: 1px solid var(--border-color);

  & > [data-react-toolbox="button"] {
    margin: 0;
    width: 100%;
    height: 54px;
    border-radius: 0;
    font-size: 1.8rem;

    background-color: var(--root-background);
    color: var(--root-text-color);
    &:hover {
      color: var(--button-hover-text-color);
      background-color: var(--button-hover-background);
    }
  }
  
  .view {
  }

  .favorite {
  }

  .listen {
  }
  
  .enter {
  }

  .exit {
  }
}
