@import "variables";
@import "animations";
@import "mixins";

:root {
  --text-color: #fff;
  --background: #000;
}

.root {
  @mixin flex-center;

  overflow-y: hidden;
  background: transparent url("./bg.jpg");
  background-color: var(--background);
  background-size: cover;
  color: var(--text-color);
}

.title {
  @mixin fade-in down, 0.4s;

  font-size: 2em;
  font-weight: bold;
  color: var(--brand-primary-pastel);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;

  @media (--medium) { font-size: 2.4em; }
  @media (--large) { font-size: 3em; }
}

.desc {
  @mixin fade-in up, 0.8s;

  color: var(--brand-info-pastel);

  @media (--medium) { font-size: 1.4em; }
  @media (--large) { font-size: 1.6em; }
}

.form {
  @mixin fade-in up, 1.2s;

  width: 300px;

  @media (--medium) { width: 420px; }
  @media (--large) { width: 600px; }

  [data-react-toolbox="tooltip"] {
    display: none;

    @media (--large) {
      display: block;
    }
  }

  .fields {
    .code {
      & > input {
        border-color: rgba(255, 255, 255, 0.8);
        color: var(--text-color);
        text-align: center;

        @media (--medium) { font-size: 1.4em; }
        @media (--large) { font-size: 1.8em; }
      }

      & > label { color: var(--text-color); }
      & > input:focus ~ label { color: rgba(255, 255, 255, 0.8); }

      & > span::before,
      & > span::after {
        background-color: var(--text-color);
      }

      & > span {
        color: var(--text-color);
      }
    }
  }

  &[data-valid="true"] .social {
    opacity: 1;
    transition: opacity 0.2s linear;
    visibility: visible;
  }

  .social {
    opacity: 0;
    text-align: center;
    transition: visibility 0s 0.2s, opacity 0.2s linear;
    visibility: hidden;

    & > a,
    & > button { margin: 0 2px; }

    .hint {
      margin-bottom: 8px;
      font-size: 1.2em;
    }

    .vkontakte { background-color: vkontakte-color; }
    .soundcloud { background-color: soundcloud-color; }
    .facebook { background-color: facebook-color; }
    .twitter { background-color: twitter-color; }
    .google { background-color: google-color; }
  }
}
