@import "variables";
@import "media";

:root {
  --text-color: #fff;
  --background: #000;
}

.root {
  composes: box from "styles/layout";
  overflow-y: hidden;
  background: transparent url("./bg.jpg");
  background-size: cover;
  background-color: var(--background);
  color: var(--text-color);
}

.title {
  composes: initial-down from "styles/animations";
  animation-duration: 0.8s;
  font-size: responsive 2rem 2.4rem;
  font-weight: bold;
  color: var(--brand-primary-pastel);
  text-shadow: 1px 1px 4px rgba(#000, 0.8);
  text-transform: uppercase;
}

.desc {
  composes: initial-down from "styles/animations";
  font-size: responsive;
  animation-duration: 0.5s;
  color: var(--brand-info-pastel);
}

.form {
  composes: initial-up from "styles/animations";
  animation-duration: 1.2s;
  width: 300px;

  @media (--medium) { width: 420px; }
  @media (--large) { width: 600px; }

  [data-react-toolbox="tooltip"] {
    display: none;

    @media (--large) { display: block; }
  }

  .fields {
    margin-bottom: 14px;

    .code {
      & > input {
        font-size: responsive;
        border-color: rgba(#fff, 0.8);
        color: var(--text-color);
        text-align: center;
      }

      & > label { color: var(--text-color); }
      & > input:focus ~ label { color: rgba(#fff, 0.8); }

      & > span::before,
      & > span::after {
        background-color: var(--text-color);
      }

      & > span {
        color: var(--text-color);
      }
    }
  }

  .social {
    text-align: center;

    & > a,
    & > button { margin: 0 2px; }

    .vkontakte { background-color: vkontakte-color; }
    .soundcloud { background-color: soundcloud-color; }
    .facebook { background-color: facebook-color; }
    .twitter { background-color: twitter-color; }
    .google { background-color: google-color; }
  }
}
