@import "variables";
@import "animations";

:root {
  --background: color(var(--brand-black) shade(10%));
}

.root {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  background-color: var(--background);
}

.avatar {
  min-width: 40px;
  cursor: pointer;
  background-color: var(--background);

  &:hover {
    animation-duration: 0.5s;
    animation-name: rotate;
  }
}

.info {
  flex-grow: 2;
  margin-left: 8px;
  color: var(--text-color);
  font-size: 1.2rem;
}

.username {
  composes: truncate from "styles/utils";
}

.role {
  color: var(--brand-success);
}

.actions {
  margin-left: 10px;
}
