@import "variables";

:root {
  --background: color(var(--brand-black) shade(10%));
}

.root {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  background-color: var(--background);

  @media (--large) { justify-content: space-between; }
}

.avatar {
  cursor: pointer;

  &:hover {
  }
}

.info {
  margin-left: 10px;
  color: var(--text-color);
  font-size: 0.8em;
}

.username {
  composes: truncate from "styles/utils";
  max-width: 80px;
}

.role {
  color: var(--brand-success);
}

.actions {
  margin-left: 10px;
}
