@import "variables";

:root {
  --background: color(var(--brand-black) shade(10%));
}

.root {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  background-color: var(--background);

  @media (--large) { justify-content: space-between; }
}

.info {
  margin-left: 10px;
  color: var(--text-color);
  font-size: 0.8em;
}

.actions {
  margin-left: 10px;
}
