@import "variables";
@import "media";

:root {
  --root-background: var(--brand-black);
  --root-text-color: var(--brand-light);
}

.root {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  user-select: none;
  z-index: 999;
  background-color: var(--root-background);
  color: var(--root-text-color);
  box-shadow:
    0 1px 1px rgba(#000, 0.3),
    inset 0 1px 0 rgba(#fff, 0.08);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
