@import "variables";
@import "media";

:root {
  --background: color(var(--brand-black) shade(40%));
  --text-color: var(--brand-light);
}

.root {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  user-select: none;
  z-index: 999;
  background-color: var(--background);
  border-top: 1px solid color(var(--background) tint(10%));
  color: var(--text-color);
}

.main {
  display: flex;
  padding: 8px;
}
