@import "variables";
@import "media";

:root {
  --root-background: var(--brand-black);
  --root-text-color: var(--brand-light);
  --root-border-color: color(var(--root-background) tint(10%));
}

.root {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  user-select: none;
  z-index: 999;
  background-color: var(--root-background);
  border-top: 1px solid var(--root-border-color);
  color: var(--root-text-color);
}

.main {
  display: flex;
  padding: 8px;
}
